@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  /* Custom Selection */
  ::selection {
    background-color: theme('colors.accent');
    color: theme('colors.sand');
  }

  body {
    @apply bg-sand text-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .glass {
    @apply bg-sand/80 backdrop-blur-md border-b border-primary/10;
  }
}
